.container {
  @apply w-full h-full
}

.header {
  @apply m-auto px-3 py-2 flex flex-row items-center;
  box-shadow: 0 0 2px 0 rgb(114, 114, 114);
  align-self: center;
}

.header h3 {
  @apply text-slate-800 ml-2;
}

.form {
  @apply mx-auto my-4 p-2 bg-white;
  position: relative;
  margin-bottom: 20px;
  width: 600px;
  border-radius: 0.4rem;
  /* border-radius: 7px; */
  box-shadow: 0 1px 7px rgb(128, 128, 128)
}

.form input {
  @apply w-full border-none px-2 py-1 outline-none;
  font-size: 1.1rem;
  resize: none;
}

.form textarea {
  @apply w-full border-none px-2 py-1 outline-none;
  font-size: 1rem;
  resize: none;
}

.button_logOut {
  @apply w-20 h-7 bg-pink-800 text-gray-50 text-base;
  border-radius: 0.5rem;

}

.form  .button {
  @apply flex justify-center items-center outline-none cursor-pointer;
  @apply bg-pink-800 text-white p-1 text-base border-none w-9 h-9;
  position: absolute;
  right: 18px;
  bottom: -18px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgb(165, 165, 165);


}

.button:hover {
  @apply bg-gradient-to-r from-gray-50 to-gray-100 border-pink-900;
  @apply text-pink-800;
  box-shadow: none;
  border: solid rgb(139, 29, 47);


}

.note {
  @apply bg-white w-60 p-2 m-4 flex flex-col;

  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  float: lef;
}

.note h1{
  @apply text-base mb-1;

}

.note p {
  @apply text-base mb-2;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  @apply text-pink-800 cursor-pointer self-end outline-none border-none;
   /* position: relative; */

}
 
